.footer{
    padding: 70px 0 70px;
    background-color: #000000;
    text-align: center;
}
.footer_title {
    text-transform: uppercase;
    color: #FEFEFE;
    padding-bottom: 22px;
}
.footer_text, .footer__contacts {
    font-style: normal;
    color: #B9B9B9;
    font-weight: 400;
    line-height: 26px;
}
.footer_networks {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    gap: 6px;
}
.social_network {
    width: 34px;
}

