@import "../variables/colors";

html, body {
    
    font-family: Roboto;

}
.container-content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

}

.burger-container {
    display: none;
}
.header__nav{
	padding: 35px 100px 35px;

  // @media (max-width: 995px) {
  // // padding: 83px 0 0;
  // }
}

.header-menu {
	  display: flex;
    font-size: 11px;
    justify-content: space-between;
    line-height: 22px;
    padding: 17px 0;
    max-width: 745px;
    margin: 0 auto;
	.header-item{
	  color: $main_text;
	  font-weight: 400;
	}
	  // padding: 17px 0;
	  // font-size: 11px;
	  // line-height: 22px;
	

	// @media (max-width: 767px) {
	// 	display: none;
  // }
	// 	position: absolute;
	// 	background-color: #f5f5f5;
	// 	width: 180px;
	// 	top: 50px;
	// 	right: 15px;
	// 	padding: 0;
	// 	opacity: 0;
	// 	transition: 0.3s;
	// 	&.active {
	// 	  opacity: 1;
	// 	}
	// 	&-item {
	// 	  padding: 5px 0;
	// 	  padding-left: 15px;
	// 	}
	//   }
	// } 

  
  @media (max-width: 767px) {
    .header__burger {
    display: block;
    background-color: #000;
    position: relative;
    width: 44px;
    height: 35px;
    float: right;
    margin: 15px;

    & span {
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 50%;
      transition: 0.3s;
    }

    &::before {
      content: '';
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 38%;
      transition: 0.3s;
    }
    &::after {
      content: '';
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 62%;
      transition: 0.3s;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 17px;
      }
      &::after {
        transform: rotate(-45deg);
        top: 17px;
      }
      & span {
        transform: scale(0);
      }}

      .menu__item:hover {
  color: #57A4A4;
}
// 	.burger-container{
//     display: block;
//     position: absolute;
//     top: 33px;
//     right: 2px;
//     transform: translate(-50%, -50%);
// }
// .burger-menu{
//     display: block;
//     position: relative;
//     width: 44px;
//     height: 37px;
//     background-color: black;
//     color: white;
//     display: flex;
//     left: 14px;
//     justify-content: center;
//     align-items: center;
//     transition: all 0.9s ease-in-out 0s;
// }
// .burger-menu:hover{
//     cursor: pointer;
// }
// .burger-menu:hover i{
//     display: none;
//   }
// .burger-menu:hover span:after{
//     color: #fff;
//     content: '\2573';
//     font-weight: 900;
// }
// .burger-menu__dropdown{
//     position: absolute;
//     width: 182px;
//     left: -138px;
//     top: 37px;
//     background: #F5F5F5;
//     max-height: 0;
//     overflow: hidden;
//     -webkit-transition: max-height 0.2s ease-in;
//     transition: max-height 0.2s ease-in;
// }
// .burger-menu__dropdown .active{
//     color: #57A4A4;
// }
// .burger-menu__dropdown a{
//     font-size: 11px;
//     color: #4E4E4E;
//     text-transform: uppercase;
//     height: 32px;
//     padding-left: 14px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
// .burger-menu:hover .burger-menu__dropdown {
//     max-height: 280px;
// }
// .burger-menu__dropdown a:hover{
//     background-color: #E5E5E5;
// }}
  
