@import "./header";


.main__img {
    align-items: center;
}
.our_recent_posts {
    margin: 56px 0 69px
}

.main_title.posts {
    padding: 0;
}
.main_title.small-text {
    padding: 0;
} 

.main_title {
    padding: 47px 0 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(78, 78, 78, 1);
    
}
.posts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media screen and (max-width: 578px ){
        display: block;
    }
}


.posts__content {
    display: flex;
    align-items: center;
    max-width: 555px;
    padding-top: 32px;

    @media screen and (max-width: 767px ){
        display: block;
    }
}
.posts_text {
    padding-left: 21px;
    @media screen and (max-width:767px){
            padding: 15px 0;
        
    }
}
.text-center {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.small-text {
    text-transform: capitalize;
} 
.indent-text {
    padding-top: 5px;
}
.text-bottom {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

    @media screen and (max-width: 767px ){
        display: none;
    }
}
.instagram_title {
    display: flex;
    justify-content: space-between;

   
}
.insta_shots {
    display: flex;
    gap: 10px;

     @media screen and (max-width: 767px){
        gap: 0;
    }    
    
}
.instagram_shots {
    padding-bottom: 49px;
    background-color: rgba(245, 245, 245, 1);
}
.instagram_posts{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.img_post {
    max-width: 100%;

    // @media screen and (max-width:1199px) {
    //     max-width: 250px;
    // }

    // padding-left: 10px;
}
.img_car{
     @media screen and (max-width:1199px){
            display:none;
            
    }

}
.img_wire
 {
    @media screen and (max-width: 767px){
        display: none;
    }
}
.img_hand {
    @media screen and (max-width: 767px){
        display: none;
    }
}
.img_bycilce {
    @media screen and (max-width: 767px){
        // max-width: 0;
    }
}

.img_post:first-child {
    gap: 0;

}
.text_size_small {
    font-size: 13px;
        
        @media screen and (max-width: 1199px) {
            margin-right: 10px;
            box-sizing: border-box;
        }
    box-sizing: border-box;
     @media screen and (max-width: 767px){
        display: none;

    }
}
