body {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(20, 20, 20, 0) 100%
  );
}

.wrapper {
  background: rgb(0, 0, 0);
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  -webkit-transform: perspective(300px) rotateX(50deg);
  transform: perspective(300px) rotateX(55deg);
  color: #ffc909;
}

.scroll {
  font-size: 20px;
  padding: 0 50px;
  text-align: justify;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  animation: star_wars 30s linear infinite;
  animation-direction: reverse;
}

.center {
  text-align: center;
}
.text {
  padding-left: 70px;
}

@keyframes star_wars {
  from {
    top: 0;
    transform: rotateX(40deg) translateZ(0);
  }
  to {
    top: -1000px;
    transform: rotateX(45deg) translateZ(-2000px);
  }
}
