body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 1280px;
  margin: 0 auto;
}

.logo-wrap {
  font-size: 80px;
  padding: 63px 0 38px;
  line-height: 94px;
}

.logo_left {
  color: black;
}

.logo_right {
  color: #4fcffa;
}

.top-menu {
  margin-bottom: 42px;
}

.top-menu-nav {
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: #35444f;
  padding-left: 162px;
  padding-right: 133px;
  font-size: 24px;
  line-height: 28px;
}

.item {
  border-left: 1px solid white;
  text-align: center;
}

.item:last-child {
  border-right: 1px solid white;
}

.item:hover {
  background: #222f3a;
}

.item a {
  display: block;
  text-align: center;
  color: white;
  padding: 26px 32px 19px 32px;
  font-size: 24px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35444f;
  height: 72px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-menu-nav {
  list-style-type: none;
  border: 1px solid black;
  width: 344px;
  font-size: 27px;
  line-height: 27px;
}

.left-list-item {
  transition: all 0.2s; /* анимация*/
}
.left-list-item a {
  display: block;
  color: #495863;
  font-size: 27px;
  padding: 27px 10px 27px 38px;
}

.left-list-item:hover {
  background: #dbdbdb;
  padding-left: 42px;
}

.content-container {
  width: 885px; /* добавила ширину для блока с картинкой чтобы применить space-between вместо margin */
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 529px;
  margin-bottom: 37px;
}

.content-img {
  max-width: 320px;
}

.content-img:hover {
  transform: scale(1.2);
}

.content-text {
  font-size: 18x;
  line-height: 24px;
}
.content-text .text-item + .text-item {
  margin-top: 32px;
  margin-bottom: 54px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  background-color: #63696e7a;
  color: white;
  margin-bottom: 30px;
}

.footer-menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}

.footer-list-item:hover {
  text-decoration: underline;
  color: #3181a6;
  transition: 0.2ms;
}

.footer-list-item a {
  padding-right: 26px;
  /* color: #010101; */
}

.footer-list-item:first-child {
  padding-left: 26px;
}

.privacy-content {
  padding-right: 40px;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
