@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.modal-image {
  h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.73px;
    color: #191919;
    padding: 95px 0 32px;
  }

  .btn-delete {
    background-color: white;
    width: 192px;
    color: #8a33fd;
    border-color: #3c4242;
    border-radius: 8px;
    padding: 16px 20px;
  }
  p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #7f7f7f;
    padding: 32px 0 64px;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .btn-cancel {
    padding: 16px 20px;
    border-radius: 8px;
    width: 192px;
    background-color: #8a33fd;
    color: white;
    border-color: #8a33fd;
    border: none;
  }
}
