@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.modal-text {
  h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;
    color: #191919;
    padding-bottom: 42px;
  }
  p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    color: #7f7f7f;
    padding-bottom: 73px;
  }
  button {
    background-color: #8a33fd;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
  }
}
