body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.navbar-list {
  list-style: none;
  text-align: center;
  padding: 0;
  font-weight: 700;
}

.menu-item {
  display: inline;
  padding: 0 36px;
}

.menu-item a {
  color: #ff0000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.4px;
}

.main-photo {
  width: 100%;
}

.content-text {
  text-align: center;
  margin: 0 auto;
  max-width: 1145px;
  padding: 0 16px;
  font-style: normal;
}

.title {
  font-size: 22px;
  margin: 49px 0 38px;
  letter-spacing: 3px;
  text-align: center;
}

.first-text {
  margin-bottom: 28px;
  font-size: 16px;
  letter-spacing: 2.4px;
  font-weight: 400;
}

.second-text {
  margin-bottom: 60px;
  font-size: 16px;
  box-sizing: border-box;
  letter-spacing: 2.4px;
  font-weight: 400;
}

.btn-wrap {
  margin: 0 auto 42px;
  display: block;
  border: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;

  background: blue;
  color: white;
  border-radius: 4px;
  padding: 18px 43.5px 17px 42.5px;
}

.privacy-text {
  font-weight: bold;
  text-align: right;
  padding: 40px 105px 21px 16px;
  font-size: 16px;
  letter-spacing: 2.4px;
}
